.custom-cursor {
  position: fixed;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  pointer-events: none;
  border: 10px solid white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: invert(1);
  mix-blend-mode: difference;
  transition: transform 0.1s ease;
}

.custom-cursor-text {
  color: white;
  font-size: 18px;
  font-weight: bolder;
  mix-blend-mode: difference;
}

/* Estilos para cuendo el cursor haga hover sobre la imagen de un proyecto y se agrande */
.custom-cursor.hover {
  transform: translate(-50%, -50%) scale(1.5);
}

/* Estilos para el cursor cuando se hace hover sobre el navBar */
.custom-cursor.small {
  transform: translate(-50%, -50%) scale(0.4); /* reduce el tamaño */
}

/* DISPOSITIVOS TÁCTILES Y SIN HOVER */
/* Oculta el cursor personalizado en dispositivos táctiles o donde no se pueda hacer hover */
@media (hover: none), (pointer: coarse) {
  .custom-cursor {
    display: none !important;
  }
}

/* Forzar ocultar en dispositivos móviles */
@media (max-width: 768px) {
  .custom-cursor {
    display: none !important;
  }
}